body {
  margin: 0;
  background: #f4f6f9;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.task-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-form input,
.task-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.task-form button {
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.filter-bar {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.filter-bar button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.task-card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.completed {
  opacity: 0.7;
  text-decoration: line-through;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.actions button {
  padding: 8px 12px;
  cursor: pointer;
}

.empty {
  text-align: center;
  margin-top: 30px;
}


.theme-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.theme-toggle button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.dark {
  background-color: #1e293b;
  color: white;
  min-height: 100vh;
}

.dark .task-form,
.dark .task-card {
  background-color: #334155;
  color: white;
}

.dark input,
.dark textarea {
  background-color: #475569;
  color: white;
  border: 1px solid #64748b;
}

.dark button {
  background-color: #2563eb;
  color: white;
}